<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Peluqueria Web</title>
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Header -->
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>

    <!-- Main Content -->
    <main class="container my-4 flex-grow-1">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="text-center py-3 bg-light mt-auto">
        <p>© 2025 Peluqueria. Desarrollado por Pedro Vazquez y Jorge Bernabeu.</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
